.home-container {
  display: flex;
  justify-content: space-between;
  height: 75vh;
  color: whitesmoke;
  margin: 0 auto 5vh auto;
}

.half-home-1 {
  width: 46%;
  height: 100%;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  p{
    font-size: 24px;
    text-align: left;
    margin-bottom: 50px;


  }
}

.color-blue {
  color: #01719e;
}

.color-orange {
  color: #ab4b39;
}

.color-salmon {
  color: #8d1c3f;
}

.half-home-2 {
  width: 46%;
  height: 100%;
  padding: 25px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.half-home-3 {
  width: 49%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.half-home-4 {
  width: 49%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 35vw;
    height: 25vh;
  }
  h2{
    font-family: $headers-font;
    font-size: 55px;
    font-weight: bold;
  }
  h3 .color-orange{
    font-family: $headers-font;
    font-size: 65px;
    font-weight: bold;
  }
  h3 {
    font-family: $headers-font;
    font-size: 35px;
    padding-bottom: 68px;
  }
}

.home-container-session {
  display: flex;
  justify-content: space-evenly;

  color: whitesmoke;
  font-family: $headers-font;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto 5vh auto;
  a {

    text-decoration: none;
    color: darkgray;
  }
}
