<div class="cards-container-index">

     <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>
        <%= render 'shared/card_index', artwork: artwork, display_score: true %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/burger_menu' %>
