<h1>Artworks#new</h1>
<p>Find me in app/views/artworks/new.html.erb</p>
<p>Import a picture</p>
<%= simple_form_for :@artwork |f| %>
  <%= f.input :file, as: :file %>
  <%= f.submit 'envoyer' %>
<% end %>
