<div class="card-product-index">
  <% if artwork.photo.attached? %>
  <%= cl_image_tag artwork.photo.key %>
  <% end %> <br>

  <div class="card-product-infos-index">
    <h2><%= artwork.name %></h2>
    <p><%= artwork.description %></p>
  </div>
</div>
