<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab colored-icons fa-github"></i></a>
    <a href="#"><i class="fab colored-icons fa-instagram"></i></a>
    <a href="#"><i class="fab colored-icons fa-twitter"></i></a>
  </div>
  <a class="footer-brand" href="#">
    <img src="app/images/logo_white_large.png" />
  </a>

  <div class="btn-footer">
    <a href="#" target="blank" >Mint</a>
    <a href="#" target="blank" >Mentions</a>
    <a style="font-size: 15px" target="blank">2021</a>

  </div>
</div>
