<div class="mb-3 footer d-flex flex-column justify-content-center align-items-center w-100">
  <div class="row mx-0 w-100">
    <div class="col-1"></div>
    <div class="col-10 border-top-white mb-5"></div>
    <div class="col-1"></div>
  </div>
  <div class="wrapper-footer row mx-0 w-100">
    <div class="d-flex align-items-center justify-content-start col-4 px-0">
      <a href="https://github.com/Frizilborld/uniqueness" target="blank" class="mx-3"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/rarible/" target="blank" class="mx-3"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/rarible" target="blank" class="mx-3"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="d-flex align-items-center justify-content-center col-4 px-0">
      <%= link_to image_tag('logo_white_large.png', class: "footer-brand"), root_path %>
    </div>
    <div class="d-flex align-items-center justify-content-end col-4 px-0">
      <a href="#" target="blank" class="mx-2">About Us</a>
      <a href="#" target="blank" class="mx-2">Contact</a>
      <a href="#" target="blank" class="mx-2">Privacy Policy</a>
      <a href="#" target="blank" class="mx-2">Partners</a>
    </div>
  </div>
</div>
