<div class="footer row">
  <div class="footer-logos col-4">
    <a href="https://github.com/Frizilborld/uniqueness" target="blank" class="mx-2"><i class="fab colored-icons fa-github"></i></a>
    <a href="https://www.instagram.com/rarible/" target="blank" class="mx-2"><i class="fab colored-icons fa-instagram"></i></a>
    <a href="https://twitter.com/rarible" target="blank" class="mx-2"><i class="fab colored-icons fa-twitter"></i></a>
  </div>
  <div class="footer-brand col-4">
    <%= link_to image_tag('logo_large.png', class:"footer-brand"), root_path %>
  </div>
  <div class="btn-footer col-4">
    <a href="#" target="blank" class="mx-2">About Us</a>
    <a href="#" target="blank" class="mx-2">Contact</a>
    <a href="#" target="blank" class="mx-2">Privacy Policy</a>
    <a href="#" target="blank" class="mx-2">Partners</a>
  </div>
</div>
