<div class="navbar navbar-expand-sm navbar-light navbar-uniqueness">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to image_tag('logo_white_large.png'), root_path %>
    </div>

    <div class="search">
      <%= form_tag artworks_path, method: :get do %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control string required",
            placeholder: "Search"
          %>
          <%# <%= submit_tag , class: "btn btn-navbar" %>

        </div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <button class="fa fa-bars btn-burger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></button>
      </ul>
    </div>
  </div>
</div>
