<div class="navbar navbar-expand-sm navbar-light navbar-uniqueness">
  <div class="navbar-brand">
    <%= link_to image_tag('logo_large.png'), root_path %>
  </div>
  <div class="search">
    <%= simple_form_for :search, url: artworks_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="Explore" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-navbar">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upload</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar-large dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" src="vitalik..jpeg" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>
