<div class="navbar navbar-expand-sm navbar-light navbar-uniqueness">
  <div class="navbar-brand">
    <%= link_to image_tag('logo_white_large.png'), root_path %>
  </div>
  <div class="search">
    <%= simple_form_for :search, url: artworks_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="Explore" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-navbar">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <button class="fa fa-bars btn-uniqueness" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></button>
    </ul>
  </div>
</div>
