// CTA principal
.btn-uniqueness {
  background-color: white;
  color: black;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
  }
}

.btn {
  text-decoration: none;
  padding: 12px 24px;
  border: 2px solid;
}

.btn-uniq-primary {
  border-color: $uniq-primary;
  background: $uniq-primary;
  color: white;
  &:hover {
    border-color: #001b56;
    background: #001b56;
    color: white;
  }
}

.btn-uniq-secondary {
  border-color: $uniq-primary;
  color: $uniq-primary;
  &:hover {
    border-color: #001b56;
    background: #001b56;
    color: white;
  }
}
