.card-product-index {
  color: whitesmoke;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: black;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 35px;
  font-family: $headers-font;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  border-radius: 2px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card-product-index img {
  justify-content: center;
  text-align: center;
  height: 490px;
  width: 400px;
  text-decoration: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  margin-bottom: 10px;
  // margin-right: 50px;
}

.card-product-index h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  color: whitesmoke;
  text-decoration: none;
}

.card-product-index p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
  color: whitesmoke;
  text-decoration: none;
}

.card-product-index .card-product-infos-index a {
text-decoration: none;
}
.card-product-index .card-product-infos-index {

  margin-bottom: auto;

  justify-content: left;
}

.cards-container-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-around;
  border: rgb(0, 0, 0);
  background-color: black;
  text-decoration: none;

}

.card-product-index:hover {
  transform: scale(1.01);
}
a {
  text-decoration: none;

}
