.card-product-show {
  display: block;
  background-color: black;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 35px;
  font-family: $headers-font;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  border-radius: 2px;
  width: 70%;
}

.card-product-show img {
    // height: 530px;
    // width: 417px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  // margin-left: 60px;
  object-fit: contain;
  justify-items: center;
}

.card-product-show h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  color:whitesmoke;
}

#artist_signature {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

#description_art {
 color: gray;
 font-size: 22px;
 font-style: italic;
}
 #art_name {
   padding-left: 0%;
 }

.bi-question-circle-fill {
  color: white;
}

.card-product-show p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
  color: #404E5C;

}

.card-product-show .card-product-infos-show {
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: auto;
  border-radius: 8px;
  justify-content: left;
}

.cards-container-show {
  display: flex;
  box-sizing:content-box;
  width: 100%;
  justify-content: space-around;
  // float: right;
  background-color: black;
  color: whitesmoke;
  // font-family: $headers-font;
  // height: 100vh;
}

.card-show-info {
display: flex;
background-color: black;
// height: 360px;
// border: white;
width: 30%;
margin-top: 30px;
margin-bottom: 35px;
// justify-content: left;
// font-family: $headers-font;
font-size: 18px;
// margin-right: 220px;
}

//en dessous cest le bouton redirect to
.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: darkgray;
  transition: darkgray 0.2s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 25px;
}

.btn-flat:hover {
  background: black;
  color: darkgray;
}

.btn-uniqueness-show {
  background-color: white;
  color: black;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  height: 30px;
}

.upvoted {
  opacity: 0.5;
  font-size: 18px;
  justify-items: center;
}


.input-user {
  margin-top: 50px;
  border: whitesmoke;
  // border: solid 1px;
  padding: 24px;
  background: #303030;
  // margin-right: -170px;
  font-family: $body-font;
}
