.footer {
  height: 20vh;
  .wrapper-footer {
    max-width: 1500px;
    margin: 0 auto;
  }
  .fab {
    font-size: 30px;
  }
  a {
    color: white;
    font-size: 20px;
  }
}

.fab:hover{
  transform: scale(1.1);
}

.socials a:hover{
  transform: scale(1.1);
  color: darkgray;
}

.footer-brand {
  height: 40px;
}

.border-top-white {
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
}
