.footer {
  height: 20vh;
  .wrapper-footer {
    max-width: 1500px;
    margin: 0 auto;
  }
  .fab {
    font-size: 20px;
  }
  a {
    color: white;
    font-size: 14px;
  }
  a:hover {
    color: darkgray;
  }
}

.socials a:hover{
  color: darkgray;
}

.footer-brand {
  height: 30px;
}

.border-top-white {
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
}
