.footer {
  // background: white;
  height: 20vh;
  .wrapper-footer {
    max-width: 1500px;
    margin: 0 auto;
  }
  .fab {
    font-size: 30px;
  }
  a {
    color: white;
    font-size: 20px;
  }
}

.footer-brand {
  height: 70px;
}

.border-top-white {
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
}
