.navbar-uniqueness {
  justify-content: space-between;
  position: fixed;
  top: 0;
  background:black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  max-width: 1500px;
  margin-bottom: 30px;
  align-items: flex-start;
  margin-top: 0px;
  height: 20vh;
  width: 100vw;
  transition: all 500ms ease;
  padding-top: 20px;
  .navbar-brand img {
    transition: all 500ms ease;
    width: 130px;
  }
  &.navbar-mini {
    height: 70px;
    align-items: flex-start;
    width: 100vw;
    position: fixed;
    margin: 0px;
    background-color: black;
    top: 0;
    padding: 10px 0px 40px 0px;
    z-index: 1000;
    transition: all 500ms ease;
    .search-form-control .form-control{
      font-size: 12px;
      transition: all 500ms ease;
    }
    .btn-burger {
      font-size: 16px;
      transition: all 500ms ease;
    }
    .navbar-brand img {
      width: 130px;
    }
  }
}


.navbar-uniqueness .navbar-collapse {
  flex-grow: 0;
}

.navbar-uniqueness .navbar-brand img {
  width: 200px;
  margin-left: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #a9a9a9;
}

a.dropdown-toggle {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.offcanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  border-left: 1px solid;
  box-shadow: -1px 0px 4px white, -8px 0px 3px #ffffff61;

  .offcanvas-header {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;

    .burger-link {
      color: white;
      font-size: 22px;
      text-align: center;
      margin-bottom: 20px;
      opacity: 0.55;
      &:hover {
        color: whitesmoke;
        opacity: 1;
      }
    }
  }

  .btn-close {
    filter: invert(1);
}

}
