.navbar-uniqueness {
  justify-content: space-between;
  background:black;
  border-bottom: 1px solid #404E5C;
}

.navbar-uniqueness .navbar-collapse {
  flex-grow: 0;
  color: red;
}

.navbar-uniqueness .navbar-brand img {
  width: 250px;
  margin-left: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color:whitesmoke;
}
