.navbar-uniqueness {
  justify-content: space-between;
  background:black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  max-width: 1500px;
  margin: 0 auto;
  height: 20vh;
}

.navbar-uniqueness .navbar-collapse {
  flex-grow: 0;
}

.navbar-uniqueness .navbar-brand img {
  width: 350px;
  margin-left: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #a9a9a9;
}

a.dropdown-toggle {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.offcanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  border-left: 1px solid;
  box-shadow: -1px 0px 4px white, -8px 0px 3px #ffffff61;

  .offcanvas-header {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;

    .burger-link {
      color: white;
      font-size: 22px;
      text-align: center;
      margin-bottom: 20px;
      opacity: 0.55;
      &:hover {
        color: whitesmoke;
        opacity: 1;
      }
    }
  }

  .btn-close {
    filter: invert(1);
}

}
