.search-form-control {
  position: relative;
  border-radius: 55px;
  margin-right: 195px;
  margin-left: 30px;
}

.search {
  width: 70%;
}

}

.search-form-control .form-control {
  border-radius: 30px;
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #02182B;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.form-control {
    width: 100%;

}

.btn-navbar {
  color: #7c7c7c;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 3px;
  border-radius: 55px;
  color:white;
  display: flex
}

.btn-navbar:hover {
  opacity: 1;
  color: rgb(24, 24, 24);
}
